@{
  Layout = "_Layout";
}

@model PackerTracker.Models.Gear

    <h1>Camping gear list:</h1>

    <h2>@Model.Description</h2>

    <a href='/gearbag/new'>Add more gear</a>
    <a href='/gearbag'>View all your gear</a>

