@{
  Layout = "_Layout";
}

@model PackerTracker.Models.Gear

<h1>Welcome to the Packer Tracker</h1>
<h3><a href='/gearbag'>View Gear Bag</a></h3>
<h3><a href='/gearbag/new'>Add some camping gear</a></h3>
